<section>
    <form action="/new" method="post">
        <textarea name="github_handle_1" placeholder="Coder 1: GitHub Username"></textarea>
        <textarea name="github_handle_2" placeholder="Coder 2: GitHub Username"></textarea>
        <input type="submit" value="Let's code!">
    </form>
</section>